/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import url('https://fonts.googleapis.com/css?family=Quicksand:500,700');
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    direction: ltr;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}

body {
    font: 17px/35px;
    background-color: #fff;
}

* {
    box-sizing: border-box;
}

a:after,
hr {
    height: 1px
}

::-moz-selection {
    background: #041a3c;
    text-shadow: none;
    color: #fff;
}

::selection {
    background: #041a3c;
    color: #fff;
    text-shadow: none;
}

hr {
    display: block;
    border-top: 1px solid #ccc;
    margin: 1em 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

textarea {
    resize: vertical;
}

form {
    margin: 0;
}

.browserupgrade {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0;
}

p {
    line-height: 2rem;
}

li {
    list-style-type: none;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    font-weight: normal;
}

h2 {
    font-size: 2.1rem;
    font-weight: normal;
}

h3 {
    font-size: 1.7rem;
    font-weight: normal;
}

h4 {
    font-size: 1.2rem;
    font-weight: normal;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .7rem;
}

a {
    display: inline-block;
    position: relative;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: #fff;
}

.transition,
a,
input[type=submit],
input[type=button] {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.slow {
    -webkit-transition: all 1s ease!important;
    transition: all 1s ease!important;
}

.delay {
    transition-delay: 1s!important;
    -webkit-transition-delay: 1s!important;
    -moz-transition-delay: 1s!important;
    -o-transition-delay: 1s!important;
}

.hidden {
    display: none!important;
}

.fade {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.text_center {
    text-align: center;
}


/* #print style*/

@media print {
    blockquote,
    img,
    pre,
    tr {
        page-break-inside: avoid
    }
    *,
     :after,
     :before {
        background: 0 0!important;
        color: #000!important;
        box-shadow: none!important;
        text-shadow: none!important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: ""
    }
    blockquote,
    pre {
        border: 1px solid #999
    }
    thead {
        display: table-header-group
    }
    img {
        max-width: 100%!important
    }
    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
}



/*==================================================
main page style
================================================== */

.main-Scene {
    background-color: #46d6f7;
    position: relative;
    height: 100vh;
    overflow: hidden;
    /*width: 49%;*/
}

svg,
img {
    width: 100%;
}

.road {
    position: absolute;
    bottom: 0;
    height: 170px;
    width: 100%;
    z-index: 50;
    background-color: #1D8ACC;
}

#road_path {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}

.sky_line_1,
.sky_line_2 {
    position: absolute;
    width: 200%;
    z-index: 40;
    left: 0;
    bottom: 170px;
}
.sky_line_2 {
    bottom: 175px;
}

.scooter {
    position: absolute;
    bottom: 50px;
    left: -300px;
    /*right: 0;*/
    margin: auto;
    width: 280px;
    height: 315px;
    z-index: 60;
}
/*.scooter svg{*/
    /*position: relative;*/
    /*z-index: 1;*/
    /*left: -25px;*/
/*}*/
.spotLight{
    position: absolute;
    width: 700px;
    left: calc(100% - 80px);
    top: 140px;
    z-index: 2;
    opacity: 0;
}
.smoke {
    width: 130px;
    height: 50px;
    position: absolute;
    bottom: 4px;
    overflow: hidden;
    opacity: .5;
    right: 230px;
}

.smoke_unit_div {
    position: absolute;
    right: 0;
    bottom: -25px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #ffffff;
}
.stars {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
}
.stars  svg{
  width: 100%;
  height: 60vh;
}
.sun,.sun:after{
  width: 60px;
  height: 60px;
  border-radius: 100px;
  position: absolute;
  top: 25%;
  right: 18%;
  z-index: 2;
}
.sun:after{
    content: '';
    z-index: 2;
    top:0;
    left: 0;
    background-color: #FFE048;
}
.sunlight{
  width: 60px;
  height: 60px;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: #ffec92;
  opacity: .75;
}
.moon{
  width: 60px;
  height: 60px;
  position: absolute;
  top: 100%;
  left: 18%;
  z-index: 2;
}
.clouds{
    position: relative;
    height: 90vh;
    min-height: 500px;
    z-index: 4;
}
.cloud {
    position: absolute;
    left: 100%;
    opacity: .4;
}

.cloud_1 {
    width: 100px;
    top: 10%;
}

.cloud_2 {
    width: 70px;
    top: 40%;
}

.cloud_3 {
    width: 60px;
    top: 25%;
}

.cloud_4 {
    width: 70px;
    top: 30%;
}
.bird{
    width: 42px;
    position: absolute;
    left: -100px;
    margin: auto;
    top: 27%;
    z-index: 5;
    opacity: 1;
}

/* value preposition area */
.text{
    position: absolute;
    left: 0;
    right: 0;
    top:10%;
    z-index: 99;
    margin: auto;
    text-align: center;
    color: #fff;
}
.text h1{
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
    line-height: normal;
}
.text p{
    font-size: 1.3rem;
}
.text p span{
    color:#1e9acc ;
}
.btn{
    color: #fff;
    position: relative;
    margin:0 auto;
    border: none;
    outline: none;
    display: table;
    background-color: transparent;
    width: 270px;
}
.btn span{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    margin: auto;
    z-index: 10;
    height: 24px;
    letter-spacing: inherit;
    font-family: 'Quicksand', sans-serif;
}
#btn1{
    fill:rgba(255,255,255,.2);
    -webkit-transition: fill .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: fill .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.btn:hover span{
    letter-spacing: 1px;
    color: #1e9acc;
}
.btn:hover #btn1{
    fill:rgba(255,255,255,1);
}


/*header area*/
header{
    height: 65px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,.07);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
header.transparent{
    background-color: transparent;
    box-shadow: none;
}
/* hamburger Icon */
.hamburger{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 201;
}
.nav-icon3 {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    cursor: pointer;
    display: block;
}
.nav-icon3 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #1e9acc;
    border-radius: 50px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.main-Scene .nav-icon3 span{
    background: #fff;
}

.nav-icon3 span:nth-child(1) {
    top: 0;
}

.nav-icon3 span:nth-child(2),.nav-icon3 span:nth-child(3) {
    top: 10px;
}

.nav-icon3 span:nth-child(4) {
    top: 20px;
}

.nav-icon3.open span:nth-child(1) {
    top: 10px;
    width: 0;
    left: 50%;
    background: transparent;
}

.nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #46d6f7;
}
.nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #46d6f7;
}
.nav-icon3.open span:nth-child(4) {
    top: 10px;
    width: 0;
    left: 50%;
    background: transparent;
}

/*nav*/
nav{
    position: fixed;
    width: calc(90% - 250px);
    height: 100vh;
    z-index: 200;
    right:-100%;
    top: 0;
    background-color: #fff;
}
.menu{
    text-align: right;
    margin: auto 20px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 305px;
}
.menu a{
    color: #1e9acc;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0;
    padding: 5px 15px;
    display: block;
    position: relative;
    z-index: 99;
}
.menu a:after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(249,249,249,1) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(249,249,249,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(249,249,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f9f9f9',GradientType=1 );
    -webkit-transition: width .3s ease;
    transition: width .3s ease;
    z-index: -1;
}
.menu a:hover{
    letter-spacing: 3px;
    color: #46d6f7;
}
.menu a:hover:after{
    width: 100%;
}
#navEdg_container{
    position: absolute;
    left: -200px;
    top:0;
    bottom: 0;
    z-index: 0;
    height: 100%;
    width: 222px;
}
.overlay{
    position: fixed;
    z-index: 199;
    background-color: rgba(10,50,70,.8);
    width: 100%;
    height: 100%;
}
/*social icons*/
.social{
    position: absolute;
    bottom: 10px;
    right: 30px;
}
.social li{
    display: inline-block;
}
.social li a{
    display: block;
    width: 45px;
    height: 45px;
    padding: 10px;
}
.social li a svg{
    fill:#1e9acc;
    stroke:#1e9acc ;
    cursor: pointer;
}
.social li a:hover svg{
    fill:#46d6f7;
    stroke:#46d6f7 ;
}
.copyrights{
    color: #cccccc;
    font-size: 12px;
    position: absolute;
    bottom: 30px;
    left: -105px;
    z-index: 9;
}
.logo{
    padding: 20px;
    color: #1e9acc;
    font-weight: bold;
}
.main-Scene .logo{
    color: #fff;
}


/*inner page*/
.inner{}