/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    direction: ltr;
    overflow-x: hidden;
}

body {
    font: 17px/35px;
    background-color: #fff;
}

* {
    box-sizing: border-box;
}

a:after,
hr {
    height: 1px
}

::-moz-selection {
    background: #041a3c;
    text-shadow: none;
    color: #fff;
}

::selection {
    background: #041a3c;
    color: #fff;
    text-shadow: none;
}

hr {
    display: block;
    border-top: 1px solid #ccc;
    margin: 1em 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

textarea {
    resize: vertical;
}

form {
    margin: 0;
}

.browserupgrade {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0;
}

p {
    line-height: 2rem;
}

li {
    list-style-type: none;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    font-weight: normal;
}

h2 {
    font-size: 2.1rem;
    font-weight: normal;
}

h3 {
    font-size: 1.7rem;
    font-weight: normal;
}

h4 {
    font-size: 1.2rem;
    font-weight: normal;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .7rem;
}

a {
    display: inline-block;
    position: relative;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: #fff;
}

.transition,
a,
input[type=submit],
input[type=button] {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.slow {
    -webkit-transition: all 1s ease!important;
    transition: all 1s ease!important;
}

.delay {
    transition-delay: 1s!important;
    -webkit-transition-delay: 1s!important;
    -moz-transition-delay: 1s!important;
    -o-transition-delay: 1s!important;
}

.hidden {
    display: none!important;
}

.fade {
    opacity: 0;
    pointer-events: none;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.text_center {
    text-align: center;
}


/* #print style*/

@media print {
    blockquote,
    img,
    pre,
    tr {
        page-break-inside: avoid
    }
    *,
     :after,
     :before {
        background: 0 0!important;
        color: #000!important;
        box-shadow: none!important;
        text-shadow: none!important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: ""
    }
    blockquote,
    pre {
        border: 1px solid #999
    }
    thead {
        display: table-header-group
    }
    img {
        max-width: 100%!important
    }
    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
}



/*==================================================
main page style
================================================== */

.main-Scene {
    background-color: #F3AE17;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

svg,
img {
    width: 100%;
}

.road {
    background-color: #724D34;
    position: absolute;
    bottom: 0;
    height: 170px;
    width: 100%;
    z-index: 50;
}

#road_path {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}

.sky_line_1,
.sky_line_2,
.sky_line_3,
.sky_line_4 {
    position: absolute;
    width: 200%;
    z-index: 40;
    left: 0;
    bottom: 195px;
}
.sky_line_1{
  height: 70px;
}
.sky_line_1 svg {
  position: relative;
  top: 0;
}
.sky_line_2 {
    bottom: 170px;
}

.sky_line_3 {
    bottom: 210px;
    box-shadow: 0 50px 0 50px #9E4000, 0 -10px 0 0 #9E4000 inset;
}

.sky_line_4 {
    bottom: 250px;
    box-shadow: 0 50px 0 50px #D35500, 0 -10px 0 0 #D35500 inset;
}

.scooter {
    position: absolute;
    bottom: 70px;
    /*left: -500px;*/
    width: 280px;
    height: 315px;
    z-index: 60;
}
.scooter svg{
  position: relative;
  z-index: 1;
}
.spotLight{
  position: absolute;
  width: 700px;
  left: calc(100% - 80px);
  top: 140px;
  z-index: 2;
  opacity: 0;
}
.smoke {
    width: 130px;
    height: 50px;
    position: absolute;
    bottom: 4px;
    overflow: hidden;
    opacity: .4;
    right: 230px;
}

.smoke_unit_div {
    position: absolute;
    right: 0;
    bottom: -25px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #ffffff;
}
.stars {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
}
.stars  svg{
  width: 100%;
  height: 50vh;
}
.sun{
  width: 75px;
  height: 75px;
  border-radius: 100px;
  position: absolute;
  top: 150px;
  right: 18%;
  z-index: 2;
  background-color: #FFDB45;
}
.sunlight{
  width: 75px;
  height: 75px;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: #FFDB45;
  opacity: .5;
}
.moon{
  width: 95px;
  height: 95px;
  position: absolute;
  top: 700px;
  left: 18%;
  z-index: 2;
}
.clouds{
    position: relative;
    height: 90vh;
    min-height: 500px;
    z-index: 4;
}
.cloud {
    position: absolute;
    left: 100%;
    opacity: .8;
}

.cloud_1 {
    width: 100px;
    top: 10%;
}

.cloud_2 {
    width: 80px;
    top: 40%;
}

.cloud_3 {
    width: 60px;
    top: 25%;
}

.cloud_4 {
    width: 70px;
    top: 30%;
}
