.btn{
    color: #fff;
    position: relative;
    margin:0 auto;
    border: none;
    outline: none;
    display: table;
    background-color: transparent;
    width: 270px;
}
.btn span{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    margin: auto;
    z-index: 10;
    height: 24px;
    letter-spacing: inherit;
    font-family: 'Quicksand', sans-serif;
}
#btn1{
     fill:rgba(255,255,255,.2);
    -webkit-transition: fill .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: fill .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.btn:hover span{
    letter-spacing: 1px;
    color: #1e9acc;
}
.btn:hover #btn1{
    fill:rgba(255,255,255,1);
}


/* hamburger Icon */
.hamburger{
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 201;
}
.nav-icon3 {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    cursor: pointer;
    display: block;
}
.nav-icon3 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 50px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.nav-icon3 span:nth-child(1) {
    top: 0;
}

.nav-icon3 span:nth-child(2),.nav-icon3 span:nth-child(3) {
    top: 10px;
}

.nav-icon3 span:nth-child(4) {
    top: 20px;
}

.nav-icon3.open span:nth-child(1) {
    top: 10px;
    width: 0;
    left: 50%;
    background: transparent;
}

.nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #1e9acc;
}

.nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #1e9acc;
}

.nav-icon3.open span:nth-child(4) {
    top: 10px;
    width: 0;
    left: 50%;
    background: transparent;
}

/*nav*/
nav{
    position: fixed;
    width: calc(90% - 250px);
    height: 100vh;
    z-index: 200;
    right:-100%;
    top: 0;
    background-color: #fff;
}
.menu{
    text-align: right;
    margin: auto 20px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 305px;
}
.menu a{
    color: #1e9acc;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0;
    padding: 5px 15px;
    display: block;
    position: relative;
    z-index: 99;
}
.menu a:after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(249,249,249,1) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(249,249,249,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(249,249,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f9f9f9',GradientType=1 );
    -webkit-transition: width .3s ease;
    transition: width .3s ease;
    z-index: -1;
}
.menu a:hover{
    letter-spacing: 3px;
    color: #46d6f7;
}
.menu a:hover:after{
   width: 100%;
}
#navEdg_container{
    position: absolute;
    left: -200px;
    top:0;
    bottom: 0;
    z-index: 0;
    height: 100%;
    width: 222px;
}
.overlay{
    position: fixed;
    z-index: 199;
    background-color: rgba(10,50,70,.8);
    width: 100%;
    height: 100%;
}
/*social icons*/
.social{
    position: absolute;
    bottom: 10px;
    right: 30px;
}
.social li{
    display: inline-block;
}
.social li a{
    display: block;
    width: 45px;
    height: 45px;
    padding: 10px;
}
.social li a svg{
    fill:#1e9acc;
    stroke:#1e9acc ;
    cursor: pointer;
}
.social li a:hover svg{
    fill:#46d6f7;
    stroke:#46d6f7 ;
}
.copyrights{
    color: #cccccc;
    font-size: 12px;
    position: absolute;
    bottom: 30px;
    left: -105px;
    z-index: 9;
}
.logo{

}
header{
    height: 66px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
}